<div class="content-header">
  <div class="vks-content-header">
    Widgets
  </div>
  <div class="vks-breadcrumb">
    <a><i class="fas fa-tachometer-alt"></i> Home</a>
    <a>Widgets</a>
  </div>
</div>

<div class="main-content">
  <h5 class="vks-page-header">Small Dashboard Widgets</h5>

  <div class="row">

    <div class="col m3 vks-widget-one">
      <div class="vks-widget-one-icon vks-bg-green">
        <i class="fas fa-tachometer-alt fa-3x"></i>
      </div>
      <div class="vks-widget-one-box">
        <span class="vks-widget-one-box-header">
          Orders
        </span>
        <span class="vks-widget-one-box-text">
          12,254
        </span>
        <span class="vks-widget-one-box-desc">
          New Orders Recieved Today
        </span>
      </div>

    </div>
    <div class="col m3 vks-widget-one">
      <div class="vks-widget-one-icon vks-bg-purple">
        <i class="fas fa-plus-circle fa-3x"></i>
      </div>
      <div class="vks-widget-one-box">
        <span class="vks-widget-one-box-header">
          Registrations
        </span>
        <span class="vks-widget-one-box-text">
          625
        </span>
        <span class="vks-widget-one-box-desc">
          New Registration Today
        </span>
      </div>

    </div>
    <div class="col m3 vks-widget-one">
      <div class="vks-widget-one-icon vks-bg-orange">
        <i class="fas fa-bus fa-3x"></i>
      </div>
      <div class="vks-widget-one-box">
        <span class="vks-widget-one-box-header">
          Delivery
        </span>
        <span class="vks-widget-one-box-text">
          98
        </span>
        <span class="vks-widget-one-box-desc">
          Delivery Scheduled Today
        </span>
      </div>

    </div>
    <div class="col m3 vks-widget-one">
      <div class="vks-widget-one-icon vks-bg-red">
        <i class="fas fa-ban fa-3x"></i>
      </div>
      <div class="vks-widget-one-box">
        <span class="vks-widget-one-box-header">
          Cancelation
        </span>
        <span class="vks-widget-one-box-text">
          34
        </span>
        <span class="vks-widget-one-box-desc">
          Orders Canceled Today
        </span>
      </div>

    </div>
  </div>
  <br>
  <h5 class="vks-page-header">Profile Widgets</h5>
  <div class="row">
    <div class="col m4 vks-widget-profile-one">
      <div class="vks-widget-profile-one-img vks-bg-white">
        <img src="assets/vivek.jpeg">
      </div>
      <div class="vks-widget-profile-one-box">
        <span class="vks-widget-profile-one-box-name">
          Vivek Kumar Singh
        </span>
        <span class="vks-widget-profile-one-box-about">
          I am a Web Developer. I have designed several static and dynamic websites. I work on Laravel Framework to design backend using PHP and Angular Framework to design frontend using TypeScript, JavaScript and JQuery.
        </span>
        <span class="vks-widget-one-box-link">
          <a><i class="fab fa-facebook-f"></i></a>
          <a><i class="fab fa-twitter"></i></a>
          <a><i class="fab fa-linkedin-in"></i></a>
          <a><i class="fab fa-google"></i></a>
        </span>
      </div>
    </div>
    <div class="col m4 vks-widget-profile-one">
      <div class="vks-widget-profile-one-img vks-bg-teal">
        <img src="assets/vivek.jpeg">
      </div>
      <div class="vks-widget-profile-one-box">
        <span class="vks-widget-profile-one-box-name">
          Vivek Kumar Singh
        </span>
        <span class="vks-widget-profile-one-box-about">
          I am a Web Developer. I have designed several static and dynamic websites. I work on Laravel Framework to design backend using PHP and Angular Framework to design frontend using TypeScript, JavaScript and JQuery.
        </span>
        <span class="vks-widget-one-box-link">
          <a><i class="fab fa-facebook-f"></i></a>
          <a><i class="fab fa-twitter"></i></a>
          <a><i class="fab fa-linkedin-in"></i></a>
          <a><i class="fab fa-google"></i></a>
        </span>
      </div>
    </div>
    <div class="col m4 vks-widget-profile-one">
      <div class="vks-widget-profile-one-img vks-bg-transparent">
        <img src="assets/vivek.jpeg">
      </div>
      <div class="vks-widget-profile-one-box">
        <span class="vks-widget-profile-one-box-name">
          Vivek Kumar Singh
        </span>
        <span class="vks-widget-profile-one-box-about">
          I am a Web Developer. I have designed several static and dynamic websites. I work on Laravel Framework to design backend using PHP and Angular Framework to design frontend using TypeScript, JavaScript and JQuery.
        </span>
        <span class="vks-widget-one-box-link">
          <a><i class="fab fa-facebook-f"></i></a>
          <a><i class="fab fa-twitter"></i></a>
          <a><i class="fab fa-linkedin-in"></i></a>
          <a><i class="fab fa-google"></i></a>
        </span>
      </div>
    </div>
    
  </div>
  <div class="row">
    <div class="col m4 vks-widget-profile-two">
      <div class="vks-widget-profile-two-main-box vks-bg-white">
        <span class="vks-widget-profile-two-box-img">
          <img src="assets/vivek.jpeg">
        </span>
        <span class="vks-widget-profile-two-box-name">
          Vivek Kumar Singh
          <br>
          <small>Web Developer</small>
        </span>
      </div>
      <div class="vks-widget-profile-two-box">
        <span class="vks-widget-profile-two-box-about">
          I am a Web Developer. I have designed several static and dynamic websites. I work on Laravel Framework to design backend using PHP and Angular Framework to design frontend using TypeScript, JavaScript and JQuery.
        </span>
        <span class="vks-widget-two-box-link">
          <a><i class="fab fa-facebook-f"></i></a>
          <a><i class="fab fa-twitter"></i></a>
          <a><i class="fab fa-linkedin-in"></i></a>
          <a><i class="fab fa-google"></i></a>
        </span>
      </div>
    </div>
    <div class="col m4 vks-widget-profile-two">
      <div class="vks-widget-profile-two-main-box vks-bg-teal">
        <span class="vks-widget-profile-two-box-img">
          <img src="assets/vivek.jpeg">
        </span>
        <span class="vks-widget-profile-two-box-name">
          Vivek Kumar Singh
          <br>
          <small>Web Developer</small>
        </span>
      </div>
      <div class="vks-widget-profile-two-box">
        <span class="vks-widget-profile-two-box-about">
          I am a Web Developer. I have designed several static and dynamic websites. I work on Laravel Framework to design backend using PHP and Angular Framework to design frontend using TypeScript, JavaScript and JQuery.
        </span>
        <span class="vks-widget-two-box-link">
          <a><i class="fab fa-facebook-f"></i></a>
          <a><i class="fab fa-twitter"></i></a>
          <a><i class="fab fa-linkedin-in"></i></a>
          <a><i class="fab fa-google"></i></a>
        </span>
      </div>
    </div>
    <div class="col m4 vks-widget-profile-two">
      <div class="vks-widget-profile-two-main-box vks-bg-orange">
        <span class="vks-widget-profile-two-box-img">
          <img src="assets/vivek.jpeg">
        </span>
        <span class="vks-widget-profile-two-box-name">
          Vivek Kumar Singh
          <br>
          <small>Web Developer</small>
        </span>
      </div>
      <div class="vks-widget-profile-two-box">
        <span class="vks-widget-profile-two-box-about">
          I am a Web Developer. I have designed several static and dynamic websites. I work on Laravel Framework to design backend using PHP and Angular Framework to design frontend using TypeScript, JavaScript and JQuery.
        </span>
        <span class="vks-widget-two-box-link">
          <a><i class="fab fa-facebook-f"></i></a>
          <a><i class="fab fa-twitter"></i></a>
          <a><i class="fab fa-linkedin-in"></i></a>
          <a><i class="fab fa-google"></i></a>
        </span>
      </div>
    </div>
  </div>
  <h5 class="vks-page-header">Chat Widgets</h5>
  <div class="row">
    <div class="col m12 vks-widget-chat-one">
      <div class="vks-widget-chat-one-header vks-bg-teal">
        <div class="vks-widget-chat-one-header-logo">
          Vivek Kumar Singh
        </div>
        <div class="vks-widget-chat-one-header-desc">
          <i class="fas fa-ellipsis-v"></i>
        </div>
      </div>
      <div class="vks-widget-chat-one-box">
        <div class="vks-widget-chat-one-users">
          <ul>
            <li class="active">
              Abhishek Kumar Singh
              <br>
              <small>Last Seen - 29th Oct 2017</small>
            </li>
            <li>
              Saurabh Chauhan
              <br>
              <small>Last Seen - 16th June 2016</small>
            </li>
            <li>
              Sumit Awasthi
              <br>
              <small>Last Seen - 14th May 2016</small>
            </li>
            <li>
              Avinash Chaudhary
              <br>
              <small>Last Seen - 11th May 2016</small>
            </li>
            <li>
              Taresh Sharma
              <br>
              <small>Last Seen - 6th May 2016</small>
            </li>
          </ul>
        </div>
        <div class="vks-widget-chat-one-messages">
          <ul>
            <li>
              <span>
                <img src="assets/vivek2.jpg">
              </span>
              <span>
                Hi
                <small>29th Oct 2017</small>
              </span>
            </li>
            <li>
              <span>
                <img src="assets/vivek2.jpg">
              </span>
              <span>
                Hello Buddy, are you there ?
                <small>29th Oct 2017</small>
              </span>
            </li>
            <li class="vks-row-reverse">
              <span>
                <img src="assets/vivek.jpeg">
              </span>
              <span>
                Oh, yes ! I am sorry, was little busy these days. So, hows everything ?
                <small>29th Oct 2017</small>
              </span>
            </li>
            <li>
              <span>
                <img src="assets/vivek2.jpg">
              </span>
              <span>
                Yeah ! Everything is good. But I have to ask some questions. Can we talk. Please provide your phone number. 
                <small>29th Oct 2017</small>
              </span>
            </li>
            <li class="vks-row-reverse">
              <span>
                <img src="assets/vivek.jpeg">
              </span>
              <span>
                Ok. Sure, here it is, 784512547
                <small>29th Oct 2017</small>
              </span>
            </li>
            
          </ul>
        </div>
      </div>
      <div class="vks-widget-chat-one-create vks-bg-teal">
        <div class="vks-widget-chat-one-create-box">
          <textarea></textarea>
        </div>
        <div class="vks-widget-chat-one-create-button">
          <button><i class="fas fa-comment-alt"></i></button>
        </div>
      </div>
    </div>    
  </div>
</div>